.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding-block: 1.6rem;
  color: var(--text-color);
  font-size: 1.6rem;
  background: var(--primary-950);
  border-top: 1px solid var(--primary-900);
}
