.layout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--background-color-dark);
  inline-size: 100%;
  min-block-size: 100dvb;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  inline-size: 100%;
}
