:root {
    --text-color: #f5f5f5;
    --text-color-dark: #000;
    --background-color: #888d9b;
    --foreground-color: #202526;
    --primary-color: #293132;
    --secondary-color: #474044;
    --accent-color: #4f5165;

    --hover-opacity: 0.8;
    --disabled-opacity: 0.6;

    --bd-radius: 0.8rem;

    --content-padding-inline: 1.6rem;

    --layout-inline-size: 128rem;
    --main-inline-size: 64rem;
}