AWS_ENDPOINT_URL="your_aws_endpoint_url"
AWS_ACCESS_KEY_ID="your_aws_access_key_id"
AWS_SECRET_ACCESS_KEY="your_aws_access_key"
AWS_DEFAULT_REGION="your_aws_default_region"

S3_ENDPOINT_URL="your_s3_endpoint_url"
S3_ACCESS_KEY_ID="your_s3_access_key_id"
S3_SECRET_ACCESS_KEY="your_s3_secret_access_key"
S3_DEFAULT_REGION="your_s3_default_region"
S3_BUCKET_NAME="your_s3_bucket_name"

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=base_name
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:password@postgres_db:5432/base_name

SQL_ECHO=1
SQLITE_CHECK_SAME_THREAD=0

JWT_ACCESS_SECRET="please change me for prod"
JWT_REFRESH_SECRET="please make me differ from access secret and change me for prod"
JWT_ALG=HS256
JWT_EXPIRES_IN=60

AUTH_COOKIE_NAME=auth
CSRF_COOKIE_NAME=csrf_token
SECURE_COOKIES=true
AUTH_SAMESITE=lax
AUTH_COOKIE_DOMAIN=""

HASH_PEPPER="please change me for prod"
HASH_MEMORY_COST=65536
HASH_TIME_COST=3
HASH_PARALLELISM=1
HASH_LENGTH=32
