.alert {
  display: flex;
  position: relative;
  align-items: center;
  padding-block: 0.6rem;
  padding-inline: 0.8rem;
  gap: 1.2rem;
  inline-size: 100%;
  border: 2px solid transparent;
  border-radius: var(--bd-radius);
  font-size: 1.6rem;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

.closeIcon {
  inline-size: 2.4rem;
  block-size: 2.4rem;
}

.faded {
  opacity: 0.3;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

.success {
  background-color: var(--primary-100);
  border-color: var(--primary-400);
  color: var(--primary-700);
}

.warning {
  background-color: var(--secondary-100);
  border-color: var(--secondary-400);
  color: var(--secondary-700);
}

.error {
  background-color: var(--secondary-500);
  border-color: var(--secondary-600);
  color: var(--secondary-100);
}

.info {
  background-color: var(--background-100);
  border-color: var(--background-400);
  color: var(--background-700);
}

.icon {
  block-size: 3.2rem;
  inline-size: 3.2rem;
}