.wrapper {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  justify-content: center;
}

.content {
  grid-column: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-block-end: 1rem;
}

.toasterRoot {
  justify-self: end;
}