.form {
  position: sticky;
  bottom: 3.2rem;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr min-content;
  row-gap: 0.8rem;
  margin: 0 auto;
  border: 3px solid var(--border-color);
  border-radius: 8px;
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--background-color-light);
  inline-size: calc(100% - var(--content-padding-inline) * 4);
  max-inline-size: var(--main-inline-size);
}

.label {
  grid-column: 1 / -1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.8rem;
  line-height: 1;
}

.input {
  border: 2px solid var(--border-color-muted);
  border-radius: 4px;
  padding-inline: 0.8rem 3rem;
  padding-block: 1rem;
  overflow-y: auto;
  font-family: inherit;
  font-size: 1.5rem;
  resize: none;
  min-block-size: 8.8rem;

  &:focus-visible,
  &:active {
    border-color: var(--border-color);
  }

  &::placeholder {
    color: var(--text-color-muted);
    font: inherit;
  }
}

.files {
  display: grid;
  grid-template-columns: repeat(3, minmax(16rem, 1fr));
  grid-auto-rows: min-content;
  gap: 0.8rem;
  max-inline-size: 50%;
  flex-wrap: wrap;
}

.attachedImageContainer {
  position: relative;
  inline-size: 100%;
  aspect-ratio: 3/2;

  &:hover {
    cursor: pointer;
  }

  &:hover .attachedImage {
    filter: brightness(0.5);
  }
}

.attachedImage {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.remove {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
}

.fileLabel {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text-color-muted);
}

.clear {
  position: absolute;
  top: 2.8rem;
  right: 1.6rem;
  display: inline-block;
  block-size: 2.4rem;
  inline-size: 2.4rem;
}

.clearIcon {
}

.submit {
  display: inline-block;
  grid-row: 2;
  justify-self: end;
  transition: opacity 0.2s ease;
  pointer-events: none;
  block-size: 3.2rem;
  inline-size: 3.2rem;
}

.submitEnabled {
  stroke: var(--text-color);
  pointer-events: initial;
}

.buttons {
  display: flex;
  justify-self: end;
  gap: 0.8rem;
  align-self: start;
  stroke: var(--text-color-muted);
}

.icon {
  block-size: 3.2rem;
  inline-size: 3.2rem;
}
