.form {
  bottom: 3.2rem;
  position: sticky;
  left: 50%;
  display: grid;
  grid-template-rows: 1fr min-content;
  row-gap: 0.8rem;
  border-radius: 8px;
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  background-color: #ffffff;
  transform: translateX(-50%);
  inline-size: calc(100% - var(--content-padding-inline) * 4);
  max-inline-size: var(--main-inline-size);
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: var(--background-color);
  font-size: 1.8rem;
  line-height: 1;
}

.input {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding-inline: 0.6rem 3rem;
  padding-block: 0.4rem;
  overflow: hidden;
  font-family: inherit;
  font-size: 1.5rem;
  resize: none;
  min-block-size: 8.8rem;

  &:focus-visible,
  &:active {
    border-color: rgba(0, 0, 0, 1);
  }
}

.input::placeholder {
  opacity: 0.8;
  color: var(--background-color);
  font: inherit;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.clear {
  position: absolute;
  top: 2.6rem;
  right: 0;
  display: inline-block;
  block-size: 2.4rem;
  inline-size: 2.4rem;
}

.clearIcon {
}

.submit {
  display: inline-block;
  grid-row: 2;
  justify-self: end;
  block-size: 3.2rem;
  inline-size: 3.2rem;
  transition: opacity 0.2s ease;
}

.submitDisabled {
  pointer-events: none;
  opacity: var(--disabled-opacity);
}

.icon {
  width: 100%;
  height: 100%;
  margin: auto;
}
