.layout {
  max-inline-size: 768px;
  padding-inline: var(--content-padding-inline);
  padding-block: 1.2rem;
  inline-size: 100%;
  background-color: #bfbfbf;
  margin: 0 auto;
  block-size: 100dvb;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
